<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Welcome to @AppSettings.Title @User.Identity.Name.</p>
    }
    else
    {
        <p>Welcome to @AppSettings.Title.</p>
    }
</div>
