<form action="/Ogrenciler/Post" method="post">
    Adı:
    <br />
    <input type="text" name="adi" value="Şükrü" />
    <br />
    Soyadı:
    <br />
    <input type="text" name="soyadi" />
    <br />
    Yaşı:
    <input type="text" name="yasi" />
    <br />
    <button type="submit">Submit</button>
    &nbsp;
    <button type="reset">Reset</button>
</form>